cffi==1.15.1
click==8.1.3
dpkt==1.9.8
joblib==1.2.0
nfstream==6.5.3
numpy==1.24.2
OSF-EIMTC==0.1.39
pandas==2.0.0
psutil==5.9.5
pyasn==1.6.1
pycparser==2.21
pypacker==5.4
python-dateutil==2.8.2
pytz==2023.3
runstats==2.0.0
scapy==2.5.0
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
threadpoolctl==3.1.0
tzdata==2023.3
